{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

/* input[type=text], */

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>

<body>

    <section>
        <div class="form-container">
            <h1>Login Form</h1>
            <form method="post">{% csrf_token %}
                <div class="control">
                    {{form.as_p}}
                    <br>
                    
                    <input type="submit" value="Login">
                </div>
                <br>
                
                <p class="link"><a href="{% url 'signup' %}">I have not my account</a></p>
            </form>
        </div>
    
    </section>
</body>

</html>

{% endblock %}