
{% load crispy_forms_tags %}

{% block content %}
    <style>
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        input {
            width: 45vw;
            height: 50px;
            padding: 3px;
            font-size: 1.8rem;
            border: 1px solid gray;
        }

        .search {
            display: none;
        }
    </style>
    <div style="padding-top: 30px;"></div>
    <center>
        <form method="POST">{% csrf_token %}
            {{ form.media }}
            {{ form|crispy }} <br>
            <input class="btn btn-success" type="submit" value="Save">
        </form>
    </center>
{% endblock content %}