{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/signup.css" %}">
</head>
<body>
    <form method="post"> {% csrf_token %}
        <h1>Sign Up</h1>
        {{ form.as_p }}

        <button type="submit">Sign Up</button>
        <br><br>
        <p class="link" style="padding-bottom: 100px;"><a href="{% url 'login' %}">I have not my account</a></p>
        
    </form>
</body>
</html>